body {
    display: contents;
}
.navbar {
    float: right;
    margin: 20px;
}
.nav-item {
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
    margin-right: 15px;
    font-family: arial, sans-serif;
    font-size: 13px;
}
a:hover {
    text-decoration: underline;
}
.main {
    margin-top: 250px;
    text-align: center;
}
.input-area {
    margin-top: 20px;
}
.input-box {
    width: 584px;
    height: 46px;
    border-radius: 26px;
    border: 1px solid #dadce0;
    padding: 0 50px 0 50px;
}
.input-box:hover {
    background: #fff;
    box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
}
.search-icon {
    position: relative;
    left: 40px;
    color: #9aa0a6;
}
.mic-icon {
    position: relative;
    right: 40px;
    color: #9aa0a6;
}
.button-area {
    padding-top: 18px;
}
button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.language-area {
    font-family: arial, sans-serif;
    font-size: 13px;
}
.language-area > a {
    text-decoration: none;
    margin: 0 3px;
}
.language-area > a:hover {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0px;
    background: #f2f2f2;
    width: 100%;
}
.first-line {
    padding: 15px 45px;
    border-bottom: 1px solid #d2d2d2;
    font-size: 15px;
    color: #1f1f1f;
}
.second-line {
    padding: 15px 30px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
.second-line-second {
    float: right;
}
.second-line > span > a {
    text-decoration: none;
    color: #1f1f1f;
    padding: 15px;
}
.second-line > span > a:hover {
    text-decoration: underline;
}